@media only screen {
    html {
        animation: fade-in 1s;
    }
}

#repository-results {
    overflow: scroll auto;
    border: thin #000 solid;
    padding: 5px;
    /* visibility: hidden; */
}

#overlay {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 99999;
}

#popup {
    display: block;
    position: fixed;
    left: 40%;
    top: 20%;
    width: 20%;
    height: 50%;
    background: white;
    border-radius: 2%;
    z-index: 100000;
}

#close-popup {
    float: right;
    display: block;
    color: red;
}

#close-popup:hover {
    cursor: pointer;
}

#log-out {
    float: right;
    color: cornflowerblue;
}

#log-out:hover {
    cursor: pointer;
}

#home {
    float: right;
    color: cornflowerblue;
}

#home:hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    #popup {
        left: 20%;
        width: fit-content;
        justify-content: center;
        display: hidden flex;
        align-items: center;
        position: fixed;
    }
}

@media screen and (max-width: 1300px) {
    #popup {
        justify-content: center;
        display: hidden flex;
        align-items: center;
    }
}