{{page-title "Index"}}

<h1>CoSchedule Coding Challenge V3</h1>
<LinkTo @route="repos">Search repositories by name</LinkTo>
<br>
<LinkTo @route="account">Login or Sign up</LinkTo>

<img src="img/background.png" id="bg" alt="CoS Logo">